html,body{
  padding: 0px;
  margin: 0px;
  top: 0px;
}

.diagnosa-box{
    top: 15vh;
    width: 50%;
    opacity: 0;
}

.diagnosa-box.scaled{
  opacity: 1;
  animation: sca 0.5s ease-in-out;
}

@keyframes sca {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}


.warning{
  border-color: red;
}


.diagnosa-box-2{
  top: 5vh;
  opacity: 0;
  transform: translate(100%);
  transition: all 0.9s ease-in-out ;
}
.T-animated{
opacity: 1;
transform: translate(0%);
}

.diagnosa-box-2,
.diagnosa-box{

  position: relative;
  box-shadow: 5px 5px 0px #679fc0,
              6px 6px 0px #679fc0,
              7px 7px 5px #679fc0  ;
  margin:auto;
  padding: 0px;
  border: 2px solid #3c8dbc;
}




.title{
  background:#3c8dbc;
  text-align: center;
  border-radius:50px;
  width:40%;
  opacity: 0;
  transform: translate(100%);
  transition: all 0.9s ease-in-out ;
}

.title.T-animated{
opacity: 1;
transform: translate(0%);
}



.title h2{
  font-size:25px;
  padding: 10px;
  color: white;
}


.pertanyaan-box h2{
  position: relative;
  background: #3c8dbc;
  color: white;
  width: 100%;
  padding: 20px;

  top: -20px;

}

.pertanyaan-box-2 h2{
  position: relative;
  font-size: 25px;
  background: #3c8dbc;
  color: white;
  width: 100%;
  padding: 20px;
  top: -20px;
}



.btnPilihanYa-2{
padding: 10px 40px 10px 40px;
}
.btnPilihanNo-2,.btnPilihanYa-2{
  position: relative;
  margin: 10px 40px 10px 40px;
  font-size:25px;
  background-color: #3c8dbc;
  color: white;
  border: none;
  border-radius: 15px;

}

.btnPilihanNo-2{
  padding: 10px 20px 10px 20px;
  right:0%;
}
.btnPilihanYa:hover,
.btnPilihanYa-2:hover{
  transition: 0.5s ease-in-out ;
  background-color: #26c65b;
}
.btnPilihanNo:hover,
.btnPilihanNo-2:hover{
  transition:all 0.5s ease-in-out ;
  background-color: #d50808;
}




.btnPilihanYa{
padding: 10px 40px 10px 40px;
}
.btnPilihanNo,.btnPilihanYa{
  position: relative;
  margin: 10px 40px 10px 40px;
  font-size:25px;
  background-color: #3c8dbc;
  color: white;
  border: none;
}

.btnPilihanNo{
  padding: 10px 30px 10px 30px;
  right:0%;
}


.hasiljawaban{
  position: relative;
  margin:5vh auto;
  padding: 0px;
  border: 2px solid #3c8dbc;
  background: whitesmoke;
  opacity: 0;
  transform: translate(100%);
  transition: all 0.9s ease-in-out ;
}
.hasiljawaban.T-animated{
opacity: 1;
transform: translate(0%);
}

.title-riwayatp h3{
  position: relative;
  font-size: 25px;
  background: #3c8dbc;
  color: white;
  width: 100%;
  padding: 10px;
  top: -20px;
}

.riwayatpertanyaan{
  width: 100%;
  border-bottom:1px solid black;
}

.riwayatpertanyaan h4{
  padding: 10px;
  color: #777;
}

.riwayatpertanyaan span{
  font-weight: bold;
}

.noresult{
  position: relative;
  top: 25vh;
  left: 50%;
  width: 50%;
  padding-bottom: 10px;
  text-align: center;
  transform: translate(-50%);
  border-bottom: 5px solid #4e4d4d;
  color: #4e4d4d;


}
.noresult a{

    color: #4e4d4d;
}

.noresult li{
  animation: 1s ease asd infinite;
  list-style: none;
  display: inline-block;
  font-size:60px;
}

.noresult li:nth-child(1){
  animation-delay: 0.5s;
}
.noresult li:nth-child(2){
  animation-delay: 0.7s;
}
.noresult li:nth-child(3){
  animation-delay: 0.9s;
}.noresult li:nth-child(4){
  animation-delay: 0.11s;
}
.noresult li:nth-child(5){
  animation-delay: 0.13s;
}

@keyframes asd {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.2;
  }
  100%{
      opacity: 1;
  }
}

.title-edit{
  position: relative;
  float: right;
  right: 0%;
  width:10%;
    padding-bottom:10px;
}


.editProfile{
  position: relative;
    padding: 10px ;
    min-height: 900px;
  width: 80%;
  border-radius: 5px;
}

.widget-user-image input{
  position: absolute;
  top:20px;
  left:120%;
}


.logoedit i{
  color: black;
  position: relative;
  border-radius: 100%;
  background: white;
  font-size: 30px;
  padding:10px 10px 10px 13px;
  box-shadow:5px 1px 0px gray,
  4px 1px 0px gray,
  1px 1px 0px gray,
  5px 0px 10px gray;
  float: left;

}

.dataknowledge{
  min-height: 900px;
}

.dataknowledge button{
  background: none;
  border: none;
  font-size:25px;
}



.action a{
  padding-left:10px;
  padding-right:10px;
  text-align: center;
  margin-right: 10px;
  color: black;
  font-size: 25px;
}

.action a:nth-child(1):hover{
  color: #16f640;
}

.action a:nth-child(2):hover{
  color: #f61636;
}

.btnRight a{
  position: relative;
  right:10%;
  float: right;
}
